body {
    margin: 0;
    padding: 0;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard {
    /* display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* height: 200px;
    width: 200px; */
    height: 33%;
    width: 33%;
}

.circle {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    border: 40px solid black
}

.cross {
    height: 80%;
    width: 80%;
    position: relative;
    transform: rotate(45deg);

}

.cross:before, .cross:after {
    position: absolute;
    content: '';
    background-color: black;
    /* border-radius: 25%; */


}

.cross:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}


